body {
    margin-top: 30px !important;
}

p {
    white-space: nowrap;
    text-align: center;
    font-size: 20px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#subtext {
    font-size: 16px;
}

#clickactivity {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: -10px;
}

#subtext {
    margin: 10px;
}

#requirements {
    font-size: 25px;
    font-weight: bold;
}